@use 'vars' as *;

#detail{

    .container{
        width: 1000px;
        margin: 0 auto;

    }

    #book{
        background-color: $primary;
        min-height: 5rem;

    
    
    figure{
        position: relative;
        p{
            padding: 3px;
            background-color: $primary;
            color: white;
            font-size: 0.5rem;
            position: absolute;
            left: 1px;
            
            &#poster-book{
                top: -149px;
                z-index: 1;
            }
            &#poster-gallery{
                right: 871px;
                bottom: -49px;
                z-index: 1;
            }
        }
    }
    #poster{
        display: block;
        max-height: 200px;
        object-fit: cover;
        border: 1px solid white;
        position: absolute;
        bottom: -50px;
    }
}

    .title{
        color: $main-title;
    }

#detail-main{
    .container{
        display: flex;
        justify-content: space-between;
        margin-top: 5rem;
    }

    #comic-info{
        flex-basis: calc((100% / 3) * 2);
        margin-right: 2rem;
        // title
        h2{
            text-transform: uppercase;
            color: $main-title;
        }
        // shop
        .shop{
            margin-top: 2rem;
            background-color: $bg-shop;
            padding: 1rem 2rem;
            color: white;
            font-weight: 600;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid $secondary;
            .light{
                color: $shop;
            }

            .status{
                display: flex;
                flex-basis: 66%;
                justify-content: space-between;
            }
            
            .availability{
                cursor: pointer;
            }
        }

        .description{
            margin: 2rem 0;
            line-height: 1.5;
            font-size: 1.1rem;
            color: $secondary;
        }
    }

    #advertise{
        flex-basis: calc(100% / 3);
        color: $secondary;
        p{
            margin-bottom: 5px;
            text-align: end;
        }
        img{
            margin: 0;
        }
    }
}

#detail-bottom{
    border-top: 1px solid $light;
    background-color: $bg-light;
    margin-top: 1rem;

    .flex{
        display: flex;
        margin-top: 1rem;
    }

    .talent,
    .specs{
        flex-basis: 50%;
        margin-right: 1rem;
        h2{
            margin-bottom: 1rem;
        }

        .artist,
        .writers,
        .series,
        .price,
        .sale{
            display: flex;
            justify-content: space-between;
            padding: 1rem 0;
            border-top: 1px solid $light;
            border-bottom: 1px solid $light;
        }
    }
}
}
