@use 'vars' as *;

#detail{

    .container{
        width: 1000px;
        margin: 0 auto;

    }

    #book{
        background-color: $primary;
        min-height: 5rem;

    
    
    figure{
        position: relative;
        p{
            padding: 3px;
            background-color: $primary;
            color: white;
            font-size: 0.5rem;
            position: absolute;
            left: 1px;
            
            &#poster-book{
                top: -149px;
                z-index: 1;
            }
            &#poster-gallery{
                right: 871px;
                bottom: -49px;
                z-index: 1;
            }
        }
    }
    #poster{
        display: block;
        max-height: 200px;
        object-fit: cover;
        border: 1px solid white;
        position: absolute;
        bottom: -50px;
    }
}

#detail-main{
    .container{
        display: flex;
        margin-top: 5rem;
    }

    #comic-info{
        flex-basis: calc((100% / 3) * 2);
        h2{
            text-transform: uppercase;
            color: $main-title;
        }
    }

    #advertise{
        flex-basis: calc(100% / 3);
        color: $secondary;
    }
}
}
