@use 'vars' as *;

header{
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 0;
    }

    img{
        display: block;
        width: 70px;
    }

    nav{
        ul{
            display: flex;
            justify-content: center;
            align-items: center;
            li{
                padding: 1rem;
                text-transform: uppercase;
                cursor: pointer;


                &:hover{
                    color: $primary;
                    border-bottom: 2px solid $primary;
                }
            }
        }
    }

    #jumbotron {
        background-image: url('../img/jumbotron.jpg');
        background-size: cover;
        height: 350px;
    }
}