@use 'vars' as *;

header{
    .container{
        margin: 0 1200px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 0;
    }

    img{
        display: block;
        width: 70px;
    }
}