@use 'vars' as *;

#current-series {
    background-color: #1C1C1C;

    .cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0 1rem 0;

        .card {
            padding: 1rem;
            flex-basis: calc(100% / 6);

            img {
            width: 150px;
            height: 150px;
            object-fit: cover;
            }

            figure{
                figcaption{
                    text-transform: uppercase;
                    color: $light;
                    margin-top: 1rem;
                }
            }
        }

        .button {
        margin-top: 1rem;
        background-color: $primary;
        padding: 0.5rem 2rem;
        cursor: pointer;
        color: white;
        }
    }

}

#home_navbar{
    background-color: $primary;
    padding: 1rem 0;
    section {
        padding: 3rem;
        background-color: $primary;
    }
    
    ul {
        display: flex;

        li {
        display: flex;
        align-items: center;
        margin: 0 1rem;

        figure{
            img {
        display: block;
        width: 55px;
        height: 60px;
    }
        }
    
        a {
            cursor: pointer;
            text-decoration: none;
            color: white;
            text-transform: uppercase;
    
        }
    }
    }
    
    
    
    
    
    figure {
        display: flex;
        justify-content: center;
        align-items: center;
    
        figcaption {
            margin-left: 1rem;
        }
    }
}